#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* region dialog */
#main #overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#main #file-abspath-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    width: 300px;
    height: 200px;
    margin: -100px 0 0 -150px;
    padding: 0;
    border-width: 0;
    border-radius: 4px;
    box-shadow: 0 0 5px 1px rgba(200, 200, 200, 0.1);
    background-color: #282c34;
    outline: none;
}

#main #file-abspath-dialog form {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: transparent;
}

#main #file-abspath-dialog form .title {
    margin: 0;
    color: #ebeae7;
    text-align: center;
    font-size: 16px;
}

#main #file-abspath-dialog form .descr {
    margin: 12px 0 0 0;
    font-weight: 400;
    color: #a8a7a5;
    font-size: 10px;
}

#main #file-abspath-dialog form input[name="file-abspath"] {
    display: block;
    width: 200px;
    height: 32px;
    margin: 20px auto 0;
    padding: 0 10px;
    border-width: 0;
    border-radius: 4px;
    background-color: #c8c6c4;
    line-height: 32px;
    font-size: 14px;
    outline: none;
}

#main #file-abspath-dialog form .btn-group {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    text-align: center;
}

#main #file-abspath-dialog form [type="submit"],
#main #file-abspath-dialog form .close-btn {
    margin: 0;
    padding: 6px 10px;
    border-width: 0;
    border-radius: 4px;
    background-color: #235597;
    color: #ebeae7;
    cursor: pointer;
    outline: none;
}

#main #file-abspath-dialog form [type="submit"]:hover,
#main #file-abspath-dialog form .close-btn:hover {
    background-color: #2861ac;
}
/* endregion */

/* region #main button */
#main > button {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-self: center;
    position: relative;
    overflow: hidden;
    height: 50px;
    margin: 0 auto;
    padding: 8px 12px;
    border-width: 0;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
}

#main > button:nth-of-type(n + 2) {
    margin-top: 20px;
}

#main > button:hover {
    background-color: #6585ae;
}

#main > button .icon {
    width: 34px;
    height: 34px;
}

#main > button .text {
    display: block;
    height: 100%;
    margin-left: 10px;
    color: #ebeae7;
    font-size: 16px;
    line-height: 34px;
}

#main #open-file input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-left: 999px;
    cursor: pointer;
}
/* endregion */