/* region #main */
#main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    padding-top: 60px;
}
/* endregion */

/* region dialog */
#main #overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#main #playlist-name-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    width: 300px;
    height: 200px;
    margin: -100px 0 0 -150px;
    padding: 0;
    border-width: 0;
    border-radius: 4px;
    box-shadow: 0 0 5px 1px rgba(200, 200, 200, 0.1);
    background-color: #282c34;
    outline: none;
}

#main #playlist-name-dialog form {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: transparent;
}

#main #playlist-name-dialog form .title {
    margin: 0;
    color: #ebeae7;
    text-align: center;
    font-size: 16px;
}

#main #playlist-name-dialog form .descr {
    margin: 12px 0 0 0;
    font-weight: 400;
    color: #a8a7a5;
    font-size: 10px;
}

#main #playlist-name-dialog form input {
    display: block;
    width: 200px;
    height: 32px;
    margin: 20px auto 0;
    padding: 0 10px;
    border-width: 0;
    border-radius: 4px;
    background-color: #c8c6c4;
    line-height: 32px;
    font-size: 14px;
    outline: none;
}

#main #playlist-name-dialog form .btn-group {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    text-align: center;
}

#main #playlist-name-dialog form [type="submit"],
#main #playlist-name-dialog form .close-btn {
    margin: 0;
    padding: 6px 10px;
    border-width: 0;
    border-radius: 4px;
    background-color: #235597;
    color: #ebeae7;
    cursor: pointer;
    outline: none;
}

#main #playlist-name-dialog form [type="submit"]:hover,
#main #playlist-name-dialog form .close-btn:hover {
    background-color: #2861ac;
}
/* endregion */

/* region #main #top-nav */
#main #top-nav {
    box-sizing: border-box;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    border-bottom: 1px solid #242424;
    /*box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);*/
}

#main #top-nav #index-link {
    display: block;
    position: relative;
    z-index: 1;
    align-self: center;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

#main #top-nav #index-link:hover {
    background-color: #6585ae;
}

#main #top-nav #index-link .icon {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 2;
    width: 34px;
    height: 34px;
}

#main #top-nav .song-count {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #ebeae7;
    line-height: 60px;
    text-align: center;
}
/* endregion */

/* region #main #playlist */
#main #playlist {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    border-radius: 4px;
}

#main #playlist > .song:first-child {
    border-top-width: 0;
}

#main #playlist > .song {
    padding: 10px;
    border-top: 1px solid #202632;
    background-color: #2c303f;
    color: #c2c7d0;
    font-size: 12px;
    cursor: pointer;
}

#main #playlist > .song:hover,
#main #playlist > .song.playing {
    background-color: #404d72;
    color: #33a5a0;
}
/* endregion */

/* region #main .filename */
#main .filename {
    overflow: hidden;
    margin-top: 20px;
    color: #33a5a0;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
}
/* endregion */

/* region #main .progress-bar */
#main .progress-bar {
    position: relative;
    height: 40px;
    margin-top: 20px;
    color: #ebeae7;
    text-align: center;
}

#main .progress-bar .background {
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #dddada;
    cursor: pointer;
}

#main .progress-bar .color {
    position: absolute;
    top: 8px;
    left: 0;
    width: 0;
    height: 4px;
    box-shadow: 0 0 1px 1px #18519b;
    border-radius: 4px 0 0 4px;
    background-color: #2f70c4;
    cursor: pointer;
}

#main .progress-bar .dot {
    position: absolute;
    top: 2px;
    left: 0;
    width: 10px;
    height: 10px;
    box-shadow: 0 0 2px 1px #5c9bec;
    border: 3px solid #2f70c4;
    border-radius: 10px;
    background-color: #8ab7f0;
}

#main .progress-bar .current-time {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
}

#main .progress-bar .total-time {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
}
/* endregion */

/* region #main .control */
#main .control .row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
}

#main .control button {
    position: relative;
    width: 50px;
    height: 50px;
    padding: 0;
    border-width: 0;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
}

#main .control button:hover {
    background-color: #6585ae;
}

#main .control button .icon {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 34px;
    height: 34px;
}
/* endregion */
