<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>{% block title %}{% endblock title %}</title>

    <link rel="stylesheet" href="/static/css/base.css"/>

    {% block style %}{% endblock style %}
</head>
<body>

    <div id="main" data-storage-route="{{ url_for('main.get_storage_file', filepath='') }}"
         data-get-current-playlist-route="{{ url_for('main.get_current_playlist') }}">
        {% block content %}{% endblock content %}
    </div>

    <script type="text/javascript" src="/static/js/common.js"></script>
    {% block javascript %}{% endblock javascript %}
</body>
</html>
